
html{
    font-family: "Roboto", sans-serif;
}

.my_main_page_layout{
    margin-left: 12.5rem;
    margin-top: 4rem;
}


/* questa regola da applicare a tutti i tag che inseriamo */
.my_tag {
    width: 8rem;
    font-size: 1rem;
    background-color: rgb(21 21 119 / 50%);
}


.my_tag_small{
    width: auto;
    font-size: 0.7rem;
    background-color: rgb(21 21 119 / 50%);
}


.my_title_box_todo{
    color: black;
    border: grey 1px solid;

    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

.my_todo_box{
    border: 1px grey solid;
    padding: 0.5rem;
}


.my_faq_title{
    border: 1px gray solid;
    background-color: #f2f2f2;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;

    margin: 0;
    padding: 1rem;
}

.my_frame_box{
    border: 1px grey solid;

    border-top: none;
}

.my_box{
    border: 1px grey solid;
    border-radius: 0.8rem;

    width: auto;
    height: auto;
}



/* # Navbar top----------------------------------------------------------------------------------------------------------- */
.my_nav_logo{
    width: 12rem;
    padding: .5rem;
}


.priority_max{
    z-index: 2;
}


.my_searchbar{
    background-color: #d1d1d1;
    color: black;
}
/* # Navbar top----------------------------------------------------------FINE--------------------------------------------- */



/* + Jumbotron rules ----------------------------------- */

.Jumbotron{
    background-color: rgb(32, 113, 233);
    color: white;
}

.spaceinsidejumbo{
    padding: 1rem;
}

/* + Jumbotron rules ---------------FINE---------------- */




/* # Side bar rules ---------------------------------------------------------------------------- */
.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1e1d2c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem; 
    background-image: url(../img/sidebar-bg.png);
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar li {
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
}
.content {
    margin-left: 200px;
    padding: 20px;
}

.my_navbarfont{
    font-size: 24px;
}

.priority_medium{
    z-index: 1;
}

/* # Side bar rules ----------------------------------------------END---------------------------- */


.my_line{
    display: flex;
    align-items: baseline;
}


.my_gap_small{
    gap: 1rem;
}

.my_button_plus{
    background-color: none;
    border: white 1px solid;
    color: white;

    font-size: 15px;
}

.my_align_items{
    align-items: center;
}




/* -h tabella ------------------------------------ */
.table-title {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
    border: 1px grey solid;
    margin-bottom: 0;

    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
  }

  .actions-column {
    width: 10rem;
  }

  .my_border{
    border: 1px grey solid;

    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
  }
  /* -h tabella -----------FINE-------------------- */